body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.Search{
  height: 30px;
  width: 500px;
  text-indent: 5px;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  margin: 20px;
  float: left;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
  font-size: 20px;
  background-color: rgb(192, 190, 190);
}
.user img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user p{
  width: 110px;
}
button{
  border: none;
  outline: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  width: 110px;
}